<div class="d-flex" style="height: 100vh;"> <!-- Alto completo de la ventana -->
  <app-nav class="flex-shrink-0" style="width: 250px; height: 100vh; overflow-y: auto;"></app-nav>
  <!-- Menú de navegación -->

  <div class="container mt-4 flex-grow-1" style="height: calc(100vh - 1rem); overflow-y: auto;">
      <!-- Alto fijo y desplazamiento -->
      <h1 class="text-center mb-4"> LISTADO SOLICITUDES </h1>
    <button type="button" class="btn btn-primary" (click)="irRegistroSolicitud()">Requerimiento</button>
    <br>
    <br>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Id Producto</th>
      <th>Id Proveedor</th>
      <th>Correo</th>
      <th>Cantidad</th>
      <th>Fecha</th>
      <th>Descripcion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let solicitud of solicitudes">
      <td>{{solicitud.id}}</td>
      <td>{{solicitud.objProducto?.nomPro}}</td>
      <td>{{solicitud.objProducto?.objProveedor?.nomProvee}}</td>
      <td>{{solicitud.objProducto?.objProveedor?.email}}</td>
      <td>{{solicitud.cantidad}}</td>
      <td>{{solicitud.fecha}}</td>
      <td>{{solicitud.descripcion}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>


