.container {
    background-image: url('/assets/img/logo.png'); /* Ruta a tu imagen */
    background-repeat: no-repeat;
    background-position: right bottom; /* Posiciona la imagen abajo a la derecha */
    background-size: 200px 90px; /* Ajusta el tamaño según tus necesidades */
    min-height: 50vh; /* Asegúrate de que ocupe al menos el alto de la pantalla */
    margin-left: 15px; /* Asegura un margen entre el menú y el contenido */
  }
  .table th {
    background-color: #000000; /* Cambia el color de fondo del encabezado */
    color: white; /* Cambia el color del texto del encabezado */

}
  