<nav class="navbar bg-info position-fixed d-flex flex-column" style="height: 100vh; width: 220px; padding: 20px;">
  <div class="container-fluid d-flex flex-column">
    <a class="navbar-brand mb-4" routerLink="/inicio">
      <img src="assets/img/logo3.png" alt="Profile" class="rounded-circle me-2" style="width: 150px; height: 150px;">
    </a>

    <ul class="navbar-nav flex-column mt-4">
      <li class="nav-item mb-3">
        <a class="nav-link active d-flex align-items-center" routerLink="/inicio">
          <i class="fas fa-user me-2"></i> Inicio
        </a>
      <li class="nav-item mb-3">
        <a class="nav-link active d-flex align-items-center" routerLink="/proveedor/lista">
          <i class="fas fa-truck me-2"></i> Proveedor
        </a>
      </li>

      <!--<li class="nav-item mb-3">
        <a class="nav-link active d-flex align-items-center" routerLink="/producto/listar">
          <i class="fas fa-box me-2"></i> Producto
        </a>
      </li>-->

      <li class="nav-item dropdown">
        <a class="nav-link active d-flex dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fas fa-box me-2"></i> Producto
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/producto/listar"><i class="fa fa-list-ol" aria-hidden="true"></i>
              Listar Productos</a></li>
          <li><a class="dropdown-item" href="/producto/registrar"> <i class="fa fa-plus" aria-hidden="true"></i>
              Añadir Producto</a></li>
        </ul>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link active d-flex align-items-center " routerLink="/solicitud/lista">
          <i class="fas fa-file-alt me-2"></i> Solicitud
        </a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link active d-flex align-items-center" routerLink="/iniciar-sesion">
          <i class="fa fa-sign-out me-2"></i> Cerrar Sesion
        </a>
      </li>
      <!--<li *ngIf="userLoginOn" class="nav-item mt-auto">
        <a class="nav-link d-flex align-items-center" (click)="logout()" routerLink="/">
          <i class="fas fa-sign-out-alt me-2"></i> Cerrar Sesión
        </a>
      </li>-->
    </ul>
  </div>
</nav>